toolkit/compath/qc/weights/
**/.ipynb_checkpoints/
__pycache__/
/workspace/code/Saahil-G3/Projects/toolkit_x/toolkit/compath/qc/qc_models_v1/weights
toolkit/compath/qc/qc_models_v1/weights/*
toolkit/weights/*
